<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../Content/css/styles.css" rel="stylesheet">
    <link href="../Content/css/bootstrap.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3ca7978466.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
            Excellent Trust Pilot Stuff
            </div>
            <div class="col-auto ml-auto">
                <ul class="nav">
                    <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-map-marker-alt me-1"></i>Shop by School</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-calendar me-1"></i>Book Appointment</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-phone-alt me-1"></i>Contact Store</a>
                    </li>
                </ul>
                
            </div>
            <div class="col-auto">
                <a class="" href="#"><i class="fas fa-user-circle"></i></a>
                <a class="" href="#"><i class="fas fa-heart"></i></a>
                <a class="" href="#"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                      <div class="container-fluid">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">Shirts & Blouses</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Skirts</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Trousers</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Blazers</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Sportswear</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Accessories</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                More
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Item 2</a></li>
                                <li><a class="dropdown-item" href="#">Item 3</a></li>
                                </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                </nav>
            </div>
            <div class="col-auto">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop by School</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Aldridge School</li>
                  </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div id="imageCarousel" class="carousel slide" data-ride="carousel" align="center">
                    <!-- slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active"> <img src="https://via.placeholder.com/500" alt=""> </div>
                        <div class="carousel-item"> <img src="https://via.placeholder.com/501" alt="Hills"> </div>
                        <div class="carousel-item"> <img src="https://via.placeholder.com/502" alt="Hills"> </div>
                        <div class="carousel-item"> <img src="https://via.placeholder.com/503" alt="Hills"> </div>
                    </div> <!-- Left right --> <a class="carousel-control-prev" href="#imageCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#imageCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> <!-- Thumbnails -->
                    <ol class="carousel-indicators list-inline">
                        <li class="list-inline-item active"> 
                            <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#imageCarousel"> 
                                <img src="https://via.placeholder.com/500" class="img-fluid"> 
                            </a> 
                        </li>
                        <li class="list-inline-item"> 
                            <a id="carousel-selector-1" data-slide-to="1" data-target="#imageCarousel">
                                <img src="https://via.placeholder.com/501" class="img-fluid">
                            </a> 
                        </li>
                        <li class="list-inline-item"> 
                            <a id="carousel-selector-2" data-slide-to="2" data-target="#imageCarousel"> 
                                <img src="https://via.placeholder.com/502" class="img-fluid"> 
                            </a> 
                        </li>
                        <li class="list-inline-item"> 
                            <a id="carousel-selector-2" data-slide-to="3" data-target="#imageCarousel"> 
                                <img src="https://via.placeholder.com/503" class="img-fluid"> 
                            </a> 
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            Aldridge School Girls Blazer
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <h2>
                            £29.99
                        </h2>
                    </div>
                    <div class="col">
                        <p>
                            <i class="fas fa-chart-bar"></i> <a class="" href="#">Compare prices</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info">
                            <div class="row">
                                <div class="col-12">
                                    <p><i class="fas fa-credit-card"></i> Make 3 payments of £9.99 with<span class="text-danger">KLARNA</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p><i class="fas fa-box"></i> Free delivery over £50</p>
                                </div>
                            </div>                  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    <h3 class="d-inline">COLOUR</h3><p class="d-inline">- Black</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    <h3>SIZE</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>
                            <i class="fas fa-ruler-horizontal"></i> <a class="" href="#">Size guide</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    <h3>Monogram (+£3)</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form>
                            <input type="monogram" class="form-control" id="monogramInput" placeholder="Add a monogram, up to 3 letters...">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                    <p class="text-danger">+ 1 -</p>
                    </div>
                    <div class="col">
                        <div class="d-grid gap-2">
                            <a class="btn btn-primary btn-block">ADD TO BASKET</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-secondary"><i class="fas fa-heart"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p><i class="fas fa-shopping-bag"></i> Also available from our <a class="" href="#">Walsall</a> store</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="#collapseSection">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="collapse" data-target="#productDescription" data-parent="#collapseSection">Product Description</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target="#reviews" data-parent="#collapseSection">Reviews</a>
                  </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="accordion-group">
                    <div class="collapse show" id="productDescription">
                        <p>
                            Navy blazer, embroidered with the Aldridge School logo on the left breast.
                        </p>
                        <p>
                            This fitted girls school blazer is a classic three pocket design. Constructed
                            using a traditional tailored approach with a recycled stain resistant outer fabric.
                            Fully lined with twin back vents and an internal zip pocket for added security when
                            storing small valuables. This machine washable blazer looks great on and is made
                            to last.
                        </p>
                        <ul>
                            <li>
                                Recycled outer blazer fabric
                            </li>
                            <li>
                                Stain resistant
                            </li>
                            <li>
                                Internal zip pocket for security
                            </li>
                            <li>
                                Machine washable
                            </li>
                            <li>
                                100% Polyester
                            </li>
                        <ul>
                    </div>
                    <div class="collapse show" id="reviews">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 bg-light">
                <div class="row">
                    <div class="col-12">
                        <h3>CONTACT US</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Boldmere</h6>
                        <a class="" href="#">0121 728 4452</a>
                    </div>
                    <div class="col-6">
                        <h6>Newcastle-under-Lyme</h6>
                        <a class="" href="#">01782 621 721</a>
                    </div>
                    <div class="col-6">
                        <h6>Bearwood</h6>
                        <a class="" href="#">0121 429 4244</a>
                    </div>
                    <div class="col-6">
                        <h6>Sheldon</h6>
                        <a class="" href="#">0121 722 2286</a>
                    </div>
                    <div class="col-6">
                        <h6>Kings Heath</h6>
                        <a class="" href="#">0121 728 6860</a>
                    </div>
                    <div class="col-6">
                        <h6>Walsall</h6>
                        <a class="" href="#">01922 622 556</a>
                    </div>
                    <div class="col-6">
                        <h6>Wholesale Enquiries</h6>
                        <a class="" href="#">sales@clivemark.co.uk</a>
                    </div>
                    <div class="col-6">
                        <h6>Customer Order Enquiries</h6>
                        <a class="" href="#">customerorders@clivemark.co.uk</a>
                    </div>
                </div>
            </div>
            <div class="col-7 bg-primary">
                <div class="row">
                    <div class="col-5">
                        <div class="row">
                            <div class="col-12">
                                <h3>WAYS TO PAY</h3>
                                <img src="../Content/imgs/payment-providers.svg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3>OUR PROVIDERS</h3>
                                <img src="../Content/imgs/product-suppliers.svg">
                            </div>
                        </div>
                    </div>                  
                    <div class="col">
                        <h3>OUR LINKS</h3>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">My Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Order History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Book an Appointment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Fitting Guides</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Shop By School</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Plain Schoolwear</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>INFORMATION</h3>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Clive Mark</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Our Stores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Delivery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cancellations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Privacy Policy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <p>© Clive Mark Ltd 2021</p>
            </div>
        </div>
    </div>
</footer>
</html>